/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right;
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left;
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/



/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
	width: 100%;
	margin: auto;
  position: relative;
}
#picArea{
  background:#74b9ff;
  float: left;
  height: 650px;
  width: 45%;
}

#formArea{
   background: linear-gradient(blue, #6c5ce7);
  float:left;
  height: 650px;
  width: 55%
}
body{
  color: white;
  font-family: 'Berkshire Swash', cursive;
  font-family: 'Open Sans', sans-serif;
}
button{
  background: orange;
  color:white;
  box-shadow: none;
  border-radius: 5px;
  border: 0;
  width:10%;
  height: 30px;
}
form{
  margin-left: 2%;
}
h1{
  text-align: center;
}
h3{
  margin-top: 40px;
  margin-left: 2%
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

header ul li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



/* Change the link color to #111 (black) on hover */
header ul li:hover {
    background-color: white;
    color: black;
}

img{
  width: 100%;
  height:650px;
  margin: auto;
  float:left;
}
input{
  height: 30px;
}

section ul{
 background:white;
 border-radius: 5px;
 margin-left:2%;
 margin-right:2%;
 box-shadow: 5px 10px lightgrey;

}

li{
  color: #596275;
  font-weight: bold;
}
